{% extends "base.html" %}

{% block content %}
	<h1>Task editor</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.title.label }}<br>
			{{ form.title(size=64) }}<br>
			{% for error in form.title.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.status.label }}<br>{{ form.status }}
		</p>
		<p>
			{{ form.description.label }}<br>
			{{ form.description(cols=64, rows=8) }}<br>
			{% for error in form.description.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.executor.label }}<br>
			{{ form.executor(size=64) }}<br>
			{% for error in form.executor.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit(class='btn btn-primary mb-3') }}</p>
	</form>
	<hr>
{% endblock %}
