{% extends "base.html" %}

{% block content %}
	<h1>Tasks</h1>
	<b><a href="{{ url_for('index') }}">Create a new task</a></b>
	{% if tasks %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Title</th>
				<th scope="col">Status</th>
				<th scope="col">Executor</th>
				<th scope="col">Creation date</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
				<tr>
					<td>{{ task.id }}</td>
					<td><a href="{{ url_for('task', task_id=task.id ) }}">
							{{ task.title }}
						</a>
					</td>
					<td>{{ task.status }}</td>
					<td><a href="{{ url_for('user', username=task.executor.username ) }}">
							{{ task.executor.username }}
						</a>
					</td>
					<td>{{ task.created_at.strftime("%Y.%m.%d %H:%M") }}</td>
					<td><a href="{{ url_for('edit_task', task_id=task.id ) }}">
							Edit
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
{% endblock %}
