{% extends "base.html" %}

{% block content %}
	<h1>Users</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Username</th>
				<th scope="col">Tasks assigned</th>
				<th scope="col">Tasks in progress</th>
				<th scope="col">Tasks completed</th>
			</tr>
		</thead>
		<tbody>
		{% for user in users %}
			<tr>
				<td><a href="{{ url_for('user', username=user.username) }}">
						{{ user.username }}
					</a>
				</td>
				<td>{{ user.tasks.count() }}</td>
				<td>{{ user.tasks.filter_by(status='In progress').count() }}</td>
				<td>{{ user.tasks.filter_by(status='Completed').count() }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
